:host {
  display: block;
  margin-top: 12px;
}

.load-block {
  display: flex;
  align-items: center;
}

.button {
  margin-left: 18px;
}

.spinner {
  margin-left: 28px;
}

.paragraph {
  margin-top: 6px !important;
}
