<h1 class="title">(UI-2) Found in {{ name }}</h1>

<section class="navigation">
  <div class="link-container">
    <button class="link" mat-raised-button color="warn" (click)="goHome()">Go to Home</button>
  </div>
  <div class="link-container">
    <button class="link" mat-raised-button color="warn" (click)="goSearch()">Go to Search</button>
  </div>
  <div class="link-container">
    <button class="link" mat-raised-button color="primary" (click)="goAccommodation()">Go to Accommodation</button>
  </div>
  <div class="link-container">
    <button class="link" mat-raised-button color="primary" (click)="goAccommodationSSR()">Go to Accommodation (SSR)</button>
  </div>
  <div class="link-container">
    <button class="link" mat-raised-button color="warn" (click)="goCustomize()">Go to Customize</button>
  </div>
  <div class="link-container">
    <button class="link" mat-raised-button color="warn" (click)="goPax()">Go to Pax</button>
  </div>
  <div class="link-container">
    <button class="link" mat-raised-button color="primary" (click)="goPayment()">Go to Payment</button>
  </div>
  <div class="link-container">
    <button class="link" mat-raised-button color="primary" (click)="goConfirmation()">Go to Confirmation</button>
  </div>
</section>

<greeting></greeting>
